@model IEnumerable<WebApplication2.Models.Composer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComposerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComposerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComposerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComposerGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComposerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComposerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComposerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComposerGrade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComposerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComposerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComposerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
